body{
    background: black;
}
}
.container{
    margin: 100px 0 0 200px;
    width: 60%;
height: auto;
    display: flex;
    justify-content: center;
    gap: 10px;
    justify-content: center;
 
 ;
 background-color: rgb(226, 169, 169);
}
.container img{
    width: 100px;;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid white;
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
}
.container img:hover{
    width: 25%;
} 

